@model IEnumerable<UBICALO.Models.Producto>

@foreach (var p in Model)
{
    <tr class="even pointer">
        <td>@p.Nombre</td>
        <td>@p.Descripcion</td>
        <td class="a-right a-right">S/ @p.Costo</td>
        <td>@p.Categoria.Nombre</td>
        <td class="last">
            <a class="btn-default" href="@Url.Action("registrarProducto",new {productoID=p.ProductoID })"><i class="fa fa-edit"></i></a>
        </td>
    </tr>
}



