@model IEnumerable<UBICALO.Models.Producto>

@foreach (var p in Model)
{
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="pricing">
            <div class="title">
                <h2>@p.Categoria.Nombre</h2>
                <h1>S/ @p.Costo</h1>
                <h2>@p.Nombre</h2>
            </div>
            <div class="x_content">
                <div class="">
                    <div class="pricing_features">
                        <i class="fa fa-check text-success"></i> @p.Descripcion
                    </div>
                </div>
                <div class="pricing_footer">
                    <a href="@Url.Action("compraProducto", new { productoID = p.ProductoID })" class="btn btn-success btn-block" role="button">¡Comprar <span> ahora!</span></a>
                </div>
            </div>
        </div>
    </div>
}
