@model UBICALO.ViewModel.VmRegistrarAsociado
@{
    ViewBag.Title = "Registrar asociado";

    if (Model.asociadoID.HasValue)
    {
        ViewBag.Action = "Editar";
        ViewBag.Image = "~/Content/images/users/" + @Model.imagen;
    }
    else
    {
        ViewBag.Action = "Registrar";
        ViewBag.Image = "~/Content/images/users/user.ong";
    }

    ViewBag.Title = ViewBag.Action + " asociado";
}

<div class="page-title">
    <div class="title_left">
        <h3>@ViewBag.Action @Model.usuario</h3>
    </div>
</div>

<div class="row">
    <div class="x_content">
    
        @using (Html.BeginForm("registrarAsociado", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal form-label-left" }))
        {
            @Html.HiddenFor(x => x.asociadoID)
            
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                    Usuario <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @*<input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" data-parsley-id="0445">*@
                    @Html.EditorFor(x => x.usuario, new { htmlAttributes = new { @required = "required", @type = "text", @placeholder = "Usuario", @class = "form-control col-md-7 col-xs-12", @id = "nombre" } })
                    <ul class="parsley-errors-list" id="parsley-id-0445"></ul>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                    Contraseña <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @*<input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" data-parsley-id="0445">*@
                    @Html.EditorFor(x => x.clave, new { htmlAttributes = new { @required = "required", @type = "password", @placeholder = "Contraseña", @class = "form-control col-md-7 col-xs-12", @id = "nombre" } })
                    <ul class="parsley-errors-list" id="parsley-id-0445"></ul>
                </div>
            </div>
            
            <div class="form-group">
                <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Establecimiento</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @*<input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="middle-name" data-parsley-id="5653">*@
                    @Html.DropDownListFor(x => x.establecimientoId, new SelectList(Model.establecimientos, "EstablecimientoID", "Nombre"), "[-Seleccionar-]", new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.establecimientoId)
                    <ul class="parsley-errors-list" id="parsley-id-5653"></ul>
                </div>
            </div>
            
            <div class="form-group">
                <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">foto:</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="profile_pic">
                        <img src="@Url.Content(@ViewBag.Image)" class="img-circle profile_img">
                    </div>
                    <input type="file" name="file" />
                    <ul class="parsley-errors-list" id="parsley-id-5653"></ul>
                </div>
            </div>

            <div class="ln_solid"></div>
            <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <a class="btn btn-primary" href="@Url.Action("listarAsociados")">Cancelar</a>
                    <button type="submit" class="btn btn-success">@ViewBag.Action</button>
                </div>
            </div>

        }

    </div>
</div>



